*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100%;
    background-color: #489ee7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.wrapper .header_logo{
    width: 50%;
    margin-left: 50px;
}
.wrapper .dashboard{
    color: white;
    margin-right: 1200px;
    font-size: 1.5rem;
}
.navigation{
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
}
.navigation .person{
    width: 50px;
    border-radius: 50%;
}
.navigation .flag{
    width: 10%;
}